@font-face {
  font-family: GoogleRegular;
  src: url("../assets//fonts/Product\ Sans\ Regular.ttf") format("truetype")
}
@font-face {
  font-family: GoogleMedium;
  src: url("../assets//fonts/Product\ Sans\ Medium\ 500.ttf") format("truetype")
}

.App {
  text-align: center;
  direction: ltr;
  width: 100%;
  background: white;
  background: rgba(0,0,0,0.1);
  color: black;
  font-family: GoogleRegular !important;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}
.modal-content{
  background-color: rgba(255, 255, 255, 0) !important;
  border: none !important;
}
.animate__animated.animate__headShake{
  --animate-duration: 0.85s;
  --animate-delay: 1s !important;
  cursor: pointer;
  color: rgb(255, 136, 0);
  text-align: right;
}

.MuiInput-root{
  padding: 0 !important;
}
.MuiSelect-select{
  min-width: 45px !important;
}

.is-active{
  color: rgb(255, 136, 0) !important;
}
.page-link{
  color: rgb(255, 136, 0) !important;
}
.page-item.active .page-link{
  color: white !important;
  background-color: rgb(255, 136, 0) !important;
  border-color: rgba(255, 136, 0, 0.5) !important;
}
